@import "tailwindcss";

@theme {
  --color-bg-main: #060812;
  --color-panel: #0c0f1e;
  --color-accent: #00FFC8;
  --color-text-main: #E0E6ED;
  --color-subtext: #8E9299;
  --color-border-main: #1a1f35;
  --color-editor-header: #0a0d17;
  --font-sans: 'Helvetica Neue', Arial, sans-serif;
  --font-mono: 'Courier New', Courier, monospace;
}

body {
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
  font-family: var(--font-sans);
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: var(--color-bg-main);
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-border-main);
    border-radius: 4px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--color-subtext);
  }
}
